* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom, #54a7ff, #87e1ff, #fff199, #ffd663);
    margin: 0;
    touch-action: manipulation;
}
.calc {
    padding: 5px;
    border: 1px solid red;
    height: 100vh;
    display: grid;
    /* Mobile first */
    grid: 1.5fr repeat(5, 1fr) / repeat(4, 1fr);
    gap: 3px;
    place-content: center;
}

/* Mobile and landscape */
@media screen and (orientation: landscape) and (min-resolution: 2dppx) {
    .calc {
        grid: 2.5fr repeat(5, 1fr) / repeat(4, 1fr);
    }
}
/* Desktop */
@media screen and (max-resolution: 1dppx) {
    .calc {
        grid: min(100px) repeat(5, minmax(10vh, 50px)) / repeat(4, 90px);
    }
    
}

.screen, .button {
    box-shadow: inset 0 0 8px blue;
}
.button {
    line-height: 0.8;
    font-size: calc(1rem + 4vh);
    display: grid;
    place-items: center;
    user-select: none;
    cursor: pointer;
}
.screen {
    grid-column: 1/5;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.screen-top {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.screen-bottom {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.screen-top-text {
    font-size: 2.5rem;
    line-height: 1;
}
.screen-bottom-text {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}
.clear {
    grid-column: span 2;
}
