* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom, #54a7ff, #87e1ff, #fff199, #ffd663);
    margin: 0;
}
.calc {
    padding: 5px;
    border: 1px solid red;
    height: 100vh;
    display: grid;
    grid: minmax(20vh, 80px) repeat(5, minmax(10vh, 50px)) / repeat(4, 90px);
    gap: 3px;
    place-content: center;
}
.screen, .button {
    /* border: 1px solid green; */
    box-shadow: inset 0 0 8px blue;

}
.button {
    line-height: 0.8;
    font-size: max(1rem, calc(1rem + 2.5vh));
    display: grid;
    place-items: center;
    user-select: none;
    cursor: pointer;
}
.screen {
    grid-column: 1/5;
    text-align: right;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.screen-top {
    text-align: inherit;
    font-size: max(1rem, calc(1.5rem + 3vh));
    /* border: 1px solid red; */
}
.screen-bottom {
    text-align: inherit;
    font-size: 2.5rem;
    font-weight: bold;
    /* border: 1px solid red; */
}

.screen-top-text {
    display: inline-block;
    /* border: 1px solid black;
    background: red; */
}

.clear {
    grid-column: span 2;
}
